@font-face{

     font-family: 'mia'; 
    src:url('font/MadimiOne-Regular.ttf') format('truetype');
}
.title{
    font-family:mia,sans-serif;
    font-size:400%;
   font-style: bold;
    margin-right: 40px;
    position:absolute;
    width: 100px;
    color: white;
    top: 5%;
    left: 65%;
      text-shadow: 0px 0px 20px #000;
}
@keyframes animate{
      0% {
    opacity: 0;
    /* Color inicial (por ejemplo, blanco) */
    background-color: #ffffff;
  }
  100% {
    opacity: 1;
    /* Color deseado (por ejemplo, azul) */
    background-color: #0000ff;
  }
}


.images{

    margin-bottom: 50px;
    animation-name: animate;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de iniciar */
    display: inline-flex;    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
   
}
body{
    margin-top: -40px;
   
}

.section1{
  
    font-family: mia;
    padding: 20px;
    font-size: 35px;
    width: 55%;
    border-radius:20px; 
    border-color: #714CC2;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 50px;
}

.downloadoption{
    font-family: mia;
     font-size: 35px;
        position: relative;
    width: 650px;
    padding: 50px;
    left: 25% ;
}


.downOption1{

    margin-bottom: 100px;
}
.downOption2{
   
   
}
.downOption1.p{
   margin-right: 100px;
}
.d1{
   margin-left:150px;
    border-radius: 60px;
    font-size: 50px;
    font-family: mia;
    background: #714CC2;
    padding: 10px;
    color: white;
    text-decoration: none;
   
    
}
.d2 {
    margin-left:150px;
    border-radius: 60px;
    font-size: 50px;
    font-family: mia;
    background: #714CC2;
    padding: 10px;
    color: white;
    text-decoration: none;
   
}
.d1:hover{
    background:#2AD191;
 
}
.d2:hover{
    background:#2AD191;
 
}

