@font-face{

     font-family: 'mia'; 
    src:url('font/MadimiOne-Regular.ttf') format('truetype');
}
.title{
    font-family:mia,sans-serif;
    font-size:50px;
   font-style: bold;
    position:absolute;
    width: 100px;
    color: white;
    margin-left: 60%;
    top: 60px;
    
     text-shadow: 0px 0px 20px #000;
}
@keyframes animate{
      0% {
    opacity: 0;
    /* Color inicial (por ejemplo, blanco) */
    background-color: #ffffff;
  }
  100% {
    opacity: 1;
    /* Color deseado (por ejemplo, azul) */
    background-color: #0000ff;
  }
}


.images{

    margin-bottom: 50px;
    animation-name: animate;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de iniciar */
    display: inline-flex;    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
   
}
body{
    margin-top: -40px;
   
}

.section1{
  
    font-family: mia;
    padding: 20px;
    font-size: 20px;
    width: 55%;
    border-radius:20px; 
    border-color: #714CC2;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 50px;
}

.downloadoption{
    font-family: mia;
     font-size: 20px;
        position: relative;
    width: 100%;
   
  
}
.wrapp{
    position: relative;
    left: 30%;
    right: -50%;
    width: 35%;
}


.wrapp.p{
     margin-left: 20%;
}

.downOption1{
  

   
}
.downOption2{
   
  
}
.downOption1.p{
 
}
.d1{
   
    border-radius: 60px;
    font-size: 30px;
    font-family: mia;
    background: #714CC2;
    padding: 10px;
    color: white;
 margin-left: 20%;
    text-decoration: none;
   
    
}
.d2 {
  
    border-radius: 60px;
    font-size: 30px;
    font-family: mia;
    background: #714CC2;
    padding: 10px;
    color: white;
     margin-left: 20%;
    text-decoration: none;
   
}
.d1:hover{
    background:#2AD191;
 
}
.d2:hover{
    background:#2AD191;
 
}
footer{
    height: 160px;
    width: 100%;
   
    background: #033333;
    color: white;
}
.img1{padding: 20px;
    width: 300px;
    height: 400;
    border-width: 2px;   
    position: absolute;
    left: 70%;
    
    top:135%;
}
.im1{
    margin-left: 40px;
   box-shadow:  0px 0px 20px #000;
}

.im2{
    margin-left: 40px;
   box-shadow:  0px 0px 20px #000;
}

.public2{padding: 20px;
    width: 300px;
    height: 400;
    border-width: 2px;   
    position: absolute;
    left: 70%;
    top: 225%;
    
}
.public01{
    border: solid;
    width: 600px;
    height: 150px;
    margin-bottom: 60px
}

.public4{
    margin-top: 50px;
    border: solid;
    width: 600px;
    height: 150px;
    margin-bottom: 60px
}
.public3{
    margin-top: 50px;
    border: solid;
    width: 600px;
    height: 150px;
    margin-bottom: 60px
}

.items,ul,a{
    text-decoration:none;
    font-size: 20px;
    color: white;
 margin: 25px   
}



